<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.js.mapper.CsMapper">
	
	<insert id="insert">
	<selectKey keyProperty="qbno" order="BEFORE" resultType="int">
			select qa_seq.nextval from dual
		</selectKey>
		insert into qa (qbno, writer, title, qcontent, kind, oseq) 
		values (#{qbno}, #{writer}, #{title}, #{qcontent}, #{kind}, #{oseq, jdbcType=VARCHAR})
	</insert>
	
	<select id="getList" resultType="com.js.domain.MemberVO">
		select * from qa where id=#{id}
	</select>
	<select id="getNoticeList" resultType="com.js.domain.NoticeVO">
		select * from notice order by nseq desc
	</select>
	<select id="getNoticeList2" resultType="com.js.domain.NoticeVO">
		select * from notice where kind='일반' order by nseq desc
	</select>
	<select id="getNoticeList3" resultType="com.js.domain.NoticeVO">
		select * from notice where kind='서비스' order by nseq desc
	</select>
	<select id="getNoticeList4" resultType="com.js.domain.NoticeVO">
		select * from notice where kind='당첨자발표' order by nseq desc
	</select>
		<select id="getFaqList" resultType="com.js.domain.FaqVO">		
		select * from faq order by bno desc	
	</select>		
	<insert id="insertFaq">		
		<selectKey keyProperty="bno" order="BEFORE" resultType="int">	
			select faq_seq.nextval from dual
		</selectKey>	
		insert into faq (bno, que, ans, cate)  	
		values (#{bno}, #{que}, #{ans}, #{cate})	
	</insert>		
	<select id="faqModify" resultType="com.js.domain.FaqVO">		
		select * from faq where bno = #{bno}	
	</select>		
	<update id="faqModifypro">		
		update faq set que=#{que},ans=#{ans},cate=#{cate} where bno = #{bno}	
	</update>		
	<delete id="faqDelete">		
		delete from faq where bno = #{bno}	
	</delete>		

</mapper>
