<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.js.mapper.MemberMapper">
	<select id="idcheck" parameterType="string" resultType="int">
		select count(id) from member where id = #{id}
	</select>
	
	<insert id="insert">
		insert into member (id, pw, name, phone, email, zip_num, address1, address2, birth, prop) 
		values (#{id}, #{pw}, #{name}, #{phone}, #{email}, #{zip_num}, #{address1}, #{address2}, #{birth}, #{prop, jdbcType=VARCHAR})
	</insert>
	<insert id="insert_auth">
		insert into member_auth (id,auth) 
		values (#{id}, 'ROLE_USER')
	</insert>
	<select id="getList" resultType="com.js.domain.MemberVO">
		select * from member
	</select>
	<delete id="delete">
		delete from member where id=#{id}
	</delete>
	<select id="getOne" resultType="com.js.domain.MemberVO">
		select * from member where id=#{id}
	</select>
	<insert id="Order">
		<selectKey keyProperty="oseq" order="BEFORE" resultType="int">
			select orders_seq.nextval from dual
		</selectKey>
		insert into orders (oseq, id, name, phone, email, pcode, pname, qnt, total, mileage) 
		values (#{oseq}, #{id}, #{name}, #{phone}, #{email}, #{pcode}, #{pname}, #{qnt}, #{total}, #{mileage})
	</insert>
	<update id="Mileageinsert">
		update member set mileage = mileage + #{mileage} where id=#{id}
	</update>
	<select id="getid" resultType="com.js.domain.OrderVO">
		select id , mileage from orders where oseq=#{status}
	</select>
	<update id="Mileagedelete">
		update member set mileage = mileage - #{mileage} where id=#{id}
	</update>
	<select id="getOrderinfo" resultType="com.js.domain.OrderVO">
		select o.oseq, o.id, o.name, o.pcode, o.pname, o.qnt, o.total, o.indate, d.airline, d.startdate, d.enddate, 
    	d.guide, d.hash, d.hotel, d.hgrade, d.rentent, d.rentcar, d.pcode 
    	from orders o, product_detail d
    	where o.id=#{id} and o.pcode = d.pcode and o.indate = (select max(indate) 
    	from orders where o.id=#{id})
	</select>
	<select id="getOneh" resultType="com.js.domain.MemberVO">
		select * from member where id=#{id}
	</select>
</mapper>
