<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.js.mapper.OrderMapper">

	<select id="getList" resultType="com.js.domain.OrderVO">
		select * from orders order by status, oseq desc
	</select>
	<update id="ordersave" parameterType="com.js.domain.OrderVO">
		 
			UPDATE orders SET status = '2' WHERE oseq = #{status}
        
	</update>
	
	
</mapper>
